<h1>Posts Index</h1>
<h2>Post List</h2>
<div class="post_index">
  <img src="<%= @user.photo %>">
  <h2><%= @user.name %></h2>
  <p>Number of posts: <%= @user.posts.count %></p>
</div>
<% @user.all_posts.each do |post| %>
  <div>
    <%= link_to user_post_path(@user, post) do %>
      <h3>Post #<%= post.id %> <%= post.title %> </h3>
    <% end %>
    <p><%= post.text %></p>
    <span>Comments: <%= post.comments.count %></span>
    <span>Likes: <%= post.likes.count %></span>
  </div>
  <div>
    <% post.most_recent_comments.each do |comment| %>
      <p><%= comment.author.name %> said: <%= comment.text %></p>
    <% end %>
  </div>
  <br>
<% end %>
