<h1>Posts show</h1>
<h2>These are the details of the post you selected:</h2>
<div>
  <p>Post #<%= @post.id %> by <%= @post.author.name %></p>
  <div>
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
  </div>
  <div>
    <h3>Comments</h3>
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %> said: <%= comment.text %></p>
    <% end %>
  </div>
</div>
