<h1>Posts show</h1>
<h2>These are the details of the post you selected:</h2>
<div>
  <p>Post #<%= @post.id %> by <%= @post.author.name %></p>
  <div>
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
  </div>
  <div>
    <h3>Comments</h3>
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %> said: <%= comment.text %></p>
    <% end %>
<% if can? :destroy, comment %>
          <%= button_to 'Delete comment', user_post_comment_path(@user, @post, comment), method: :delete %>
<% end %>
  </div>
  <%= button_to "Check all Posts", user_posts_path(@user.id), method: :get %>
  <%= button_to link_to "Comment", new_user_post_comment_path(author_id: @post.author.id, post_id: @post.id), method: :get %>
  <%= button_to link_to "Like", user_post_likes_path(@user, @post), params: { like: { author_id: @user.id, post_id: @post.id } }, method: :post %>
</div>
