<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>Logo</div>
      <ul>
        <li>
          <a href="/">Users index</a>
        </li>
      </ul>
    </header>
    <h3 class="notice"><%= notice %></h3>
    <h3 class="alert"><%= alert %></h3>
    <%= if user_signed_in? %>
    <%= link_to 'sign out' , destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
