<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div>Logo</div>
      <ul>
        <li>
          <a href="/">Users index</a>
        </li>
      </ul>
      <div>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
      </div>
      <ul>
        <% if user_signed_in? %>
        <h3><%= "How you are #{current_user.name}" %></h3>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'Edit Profile', edit_user_registration_path %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </header>
    <h3 class="notice"><%= notice %></h3>
    <h3 class="alert"><%= alert %></h3>
    <%= yield %>
  </body>
</html>
